{% extends 'base.html' %}

{% block title %}
заказы
{% endblock %}

{% block body %}
<h1>УМНАЯ СТОЛОВАЯ</h1>
<h2>заказы</h2>
{% endblock %}

{% block panel %}
<a href="/popular">популярное</a>
<a href="/menu">меню</a>
<a href="/orders">заказы</a>
<a href="/grades">отзывы</a>
<a href="/money">баланс</a>
<a href="/recommendations">рекоммендации</a>
{% endblock %}

{% block but %}
    <form action="/orders/purchase">
        <button type="submit">ЗАКАЗАТЬ</button>
    </form>
{% endblock %}