{% extends 'base.html' %}

{% block title %}
популярное
{% endblock %}

{% block body %}
<h1>УМНАЯ СТОЛОВАЯ</h1>
<h2>популярное</h2>
{% endblock %}

{% block panel %}
<a href="/popular">популярное</a>
<a href="/menu">меню</a>
<a href="/orders">заказы</a>
<a href="/grades">отзывы</a>
<a href="/money">баланс</a>
<a href="/recommendations">рекоммендации</a>
{% endblock %}

{% block enter %}
<a href="/autorize">войти</a>
{% endblock %}

{% block change %}
<a href="/change">сменить статус</a>
{% endblock %}